//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path: "bootstrap/";

//** Set the base font size
$font-size-base:  15px;

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    normal;
