Compiling the SASS version of Bootstrap requires that the development server you're on has the 

compass-bootstrap-sass 

package (and its many Ruby-related dependencies) installed. 

One it's there, you can run the following (in this directory) to compile your SASS code (in the sass directory):

compass watch

or for a one-time compilation:

compass clean
compass compile

--

If you get an error like "cannot load such file -- compass/import-once/activate" when running the compass commands, you may need to reinstall compass. Do it like this:

sudo gem uninstall sass
sudo gem uninstall compass
sudo gem install compass

the latter command should also install (globally) a compatible version of sass. 
 
